.gray_square {
  height:40vh;
  width: 25vw;
  border-radius:5px;
  background-color:#E5E5E5;
}

.squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 8vh;
  margin-right:8vw;
  margin-left:8vw;
}

.inner_squares{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inner_square {
  height:10vh;
  width:15vw;
  margin:5px;
  background-color:rgb(178,219,250);
}

.square_heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight:400;
  text-transform: uppercase;
  margin-top:15px;
}

.square_heading2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight:400;
  text-transform: uppercase;
  margin-top:15px;
}

.blue_square {
  height:7vh;
  width: 25vw;
  border-radius:5px;
  background-color:#50AEF4;
}

.reporting_square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reporting_inner_square {
  height:20vh;
  width:15vw;
  margin:5px;
  background-color:rgb(178,219,250);
}


.dashboard_button {
  background-color: #50AEF4;
  color:white;
  font-size:1em;
  text-transform: capitalize;
}

.see_items_button {
  background-color: #50AEF4;
  color:white;
  font-size:1em;
  text-transform: capitalize;

}


.inventory_inner_squares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inventory_inner_square {
  background-color: white;
  height:4.5vh;
  width: 15vw;
  margin:5px;
}