.gray_square {
  height: 40vh;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8vh;
  margin-right: 8vw;
  margin-left: 8vw;
}

.inner_squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_square {
  height: 10vh;
  width: 15vw;
  margin: 5px;
  background-color: #b2dbfa;
}

.square_heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.square_heading2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

.blue_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7vh;
  width: 25vw;
  border-radius: 5px;
  background-color: #50AEF4;
}

.reporting_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reporting_image {
  height: 150px;
  width: 200px;
  margin: 5px;
}

a:link {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.dashboard_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #50AEF4;
}

.inventory_inner_squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory_inner_square {
  background-color: white;
  height: 4.5vh;
  width: 15vw;
  margin: 5px;
}
/*# sourceMappingURL=Dashboard.css.map */