.navbar {
  display:flex;
  flex-direction: row;
  background-color: #50AEF4;
  height:10vh;
  width:100%;
}

.navbar__heading {
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 1.8em;
  font-weight:400;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 20px;
}

