.navbar {
  display:flex;
  flex-direction:row;
  background-color: #50AEF4;
  height:10vh;
  width:100%;
}

.navbar__heading {
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 3.5vh;
  font-weight:400;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-left: 20px;
}

a.navbar__home_logo {
  margin-left: 15px;
  margin-top:2vh;
}

.home_logo {
  height:5.5vh;
}

