.navbar {
  display:flex;
  flex-direction: row;
  background-color: #50AEF4;
  height:10vh;
  width:100%;
}

.navbar__home_logo{


}

.navbar__heading {
  color:white;
  text-transform: uppercase;
  font-size: 2em;
}

