.checkout_square {
  background-color:rgb(229,229,229);
  width: 500px;
  height: 60vw;
  border-radius: 5px;
  margin:15vh;
}

.checkout_form_container {

  display: flex;
  justify-content: center;
  align-items: center;

}

.checkout_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.input_field {
  border-radius: 5px;
  width:300px;
  height:30px;
  margin:10px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight:400;
  text-transform: uppercase;
  margin-top:15px;
}