.checkout_form_container {
  border: 1px solid black;
  width: 30vw;
}

.checkout_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.input_field {
  border-radius: 10%;
  margin: 5px;
}
