.checkout_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout_square {
  background-color:rgb(226, 226, 226);
  width: 500px;
  height: 610px;
  border-radius: 5px;
  margin:10vh;
}

.checkout_input_field {
  border-radius: 5px;
  width:330px;
  height:42px;
  margin:10px;
  font-size:14px;
  text-indent: 10px;
  box-shadow:0 0 2px #666 inset;
  border:none;
}

.checkout_input_field:hover {
  background-color:#abdbff;
}

h1.checkout_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight:400;
  text-transform: uppercase;
  margin-top:25px;
}

.checkout_form_button {
  background-color:#50AEF4;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size:12px;
  color:rgb(36, 36, 36);
  height:50px;
  width:100px;
  margin:15px;
}

.checkout_form_button:hover {
  background-color: rgb(80, 80, 80);
  color:white;
}